<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="RawType" value="Packed" />
		<add key="ImageWidth" value="5120" />
		<add key="ImageHeight" value="2880" />
		<add key="ImageStride" value="6400" />
		<add key="InputImageDepth" value="10" />
		<add key="BayerPattern" value="GB" />
		<add key="EnableAWB" value="True" />
		<add key="EnableOBC" value="True" />
		<add key="BlackLevel" value="0" />
		<add key="SaveUnpackedRaw" value="False" />
		<add key="SaveBmp" value="False" />
		<add key="SaveJpeg" value="False" />
		<add key="OutputImageDepth" value="10" />
	</appSettings>
</configuration>